// Widescreens
@include mediaXL {
    
}

// Desktops, Laptops
@include mediaLarge {

}

// Tablets and small laptops
@include mediaMedium {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 60vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 40vh;
        transform: translate3d(100%, 0, 0);
        
        .portait {
            // ! important to override the portrait class in _menu.scss. will figure this out later.
            background: url(../img/portrait-small.jpg);
            width: 100px;
            height: 100px;
        }
    }

    .about-info {
        grid-template-areas:
            'bioimage'
            'bio'
            'job1'
            'job2'
            'job3';
        
            grid-template-columns: 1fr;
    }
}

// Smartphones
@include mediaSmall {
    main#home h1 {
        margin-top: 10vh;
    }
}